* {
  box-sizing: border-box;
}
:root {
  font-size: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.boxed {
  max-width: 1400px;
  margin: auto;
}
img {
  max-width: 100%;
  height: auto;
}
/* ---------------------- HEADER
-------------------------------------------------------------- */
.header-icon {
  width: 100px;
  height: 100px;
  margin-right: 40px; 
}
header {
  background-color: rgb(233, 67, 67);
  position: sticky;
  top: 0;
  z-index: 100;
}
header div.main-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid black;
}
header nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-size: 0.75rem;
  margin: 0 !important;
  li a {
    text-decoration: none;
    color: white !important;
    font-size: 1.5rem !important;
    padding: 10px !important;
  }
}
/* ---------------------- BODY
-------------------------------------------------------------- */
body {
  background-color: rgb(233, 181, 67);
  margin: 0;
}
h1{
  text-align: center;
  padding: 2rem 0 2rem 0;
  font-size: 3rem;
  font-weight: bold;
}
.body-ctn{
  display: flex;
  justify-content: center;
  align-items: center;
}
.body-img{
  padding-top: 40px;
  width: 800px;
  height: 400px;
}
section{
    margin-top: 20px;
}
/* ----------- SLIDER
----------------------------------------------- */
.slider-img{
  width: 100%;
  height: 600px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.slider-ctn{
  position: relative;
  width: 50%;
  margin: auto;
  overflow: hidden;
  padding: 4rem 0 4rem 0;
}
.slider {
  display: flex;
  width: 100%;
  img {
    width: 100%;
    display: block;
  }
}
.prev, .next {
  position: absolute;
  top: 50%;
  padding: 10px;
  cursor: pointer;
}
.prev {
    left: 2px;
}
.next {
    right: 2px;
}
button {
  background: transparent;
  width: 100x;
  height: 100px;
  border: none;
  color: white;
}
/* ----------- GRID PERSONAJES
----------------------------------------------- */
h3{
  font-size: 2rem;
  text-align: center;
}
.pj-ctn {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  padding: 60px 140px 60px 140px;
  margin-left: auto;
  margin-right: auto;
  place-content: center;
  place-items: center;
}
.pj-ctn-pj{
  margin-top: 0;
  text-align: center;
}
.ficha-pj{
  display: flex;
  list-style: none;
  margin: 0 auto;
  padding-left: 0px;
    li{
      padding: 1rem;
      p{
        text-align: center;
      }
    }

}
.ficha-pj-planeta{
  margin-top: 0;
  text-align: center;
}
.art-pj{
  width: 280px;
  flex-direction: column;
  background: white;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 2;
  justify-content: center;
}
.pj-ctn-raza {
  gap: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
article {
  width: 280px;
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 2;
}
article:hover{
  transform: scale(1.02);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
}
.msj-empty{
  text-align: center;
  font-size: 1.5rem;
}
.pj-ctn-img{
  width: 100%;
  position: relative;
  min-height: 350px;
  max-height: 350px;
  border-radius: 0 1rem 0 1rem;
}
.pj-img{
  position: absolute;
  top: -20px;
  width: 100%;
  height: 100%;
  min-height: 400px;
  max-height: 400px;
  margin: 0px;
  z-index: 0;
  object-fit: contain;
}
.pj-footer{
  padding: 2rem;
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 240, 154);
  text-align: center;
}
p{
  font-weight: bold;
}
.raza-ctn{
  border-radius: 2rem;
  background-color: rgb(255, 240, 154);
  text-align: center;
}
.link-raza{
  text-decoration: none;
  color: black;
}
.pj-por-raza{
  font-size: 2.5rem;
  text-align: center;
    ul{
      list-style: none;
    }
}
.img-trans{
  width: 100%;
  height: 100%;
  min-height: 400px;
  max-height: 400px;
  margin: 0px;
  z-index: 0;
  object-fit: contain;
}
.pj-ctn-ficha{
  display: grid;
  grid-template-columns: repeat(1, minmax(300px, 1fr));
  gap: 60px;
  padding: 16px;
  margin-left: auto;
  margin-right: auto;
  place-items: center;
  justify-content: center;
}
/* ---------------------- PAGINACION
-------------------------------------------------------------- */
.paginacion {
	margin:20px 0;
}

.paginacion ul {
	list-style:none;
	text-align: center;
}

.paginacion ul li {
	display:inline-block;
	margin-right:10px;
}

.paginacion ul li a {
	display:block;
	padding:10px 20px;
  color: black;
  background-color: white;
	text-decoration: none;
}

.paginacion ul li a:hover {
  background-color: rgb(255, 240, 154);
}

.paginacion ul li .active {
  background-color: rgb(233, 67, 67);
	font-weight: bold;
}
/* ---------------------- FOOTER
-------------------------------------------------------------- */
footer {
  display: flex;
  margin-top: 40px;
  background-color: rgb(233, 67, 67);
  color: white;
  height: 100px;
  border-top: 1px solid black;
  text-align: center;
  align-items: center;
  justify-content: center;
}
/* ---------------------- MEDIAS
-------------------------------------------------------------- */
@media (width<1400px) {
  .pj-ctn {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (width<1200px) {
  .pj-ctn{
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (width<1400px) {
  .pj-ctn-ficha{
    grid-template-columns: repeat(1, 1fr);
  }
}
